@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

#regForm, #loginForm, #addRoomForm, #makeBookingForm {
    background-color: whitesmoke;
    padding-bottom: 1em;
    padding-top: .2em;
    margin-bottom: 1.5em;
}

.form-group {
    padding: .3em;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 11pt;
}

/* form fields */
input[type=text], input[type=password], input[type=number] {
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

input[type=date] {
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 165px;
}

input[type=file] {
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 165px;
    background-color: white;
}

input[type=submit] {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 149, 225);
    width: 220px;
    color: white;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* field with Icons */
.fieldicon input[type=text], input[type=password], input[type=number], input[type=date], input[type=file] {
    padding-left: 40px;
}

.fieldicon {
    position: relative;
}

.fieldicon span {
    position: absolute;
    left: 80px;
    top: 8px;
    padding: 3px 8px;
}

/* Logout */
.logout-btn {
    width: 200px;
    padding: 10px 15px;
    background-color: rgba(0, 149, 225);
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1.5em;
    cursor: pointer;
}

#btn {
    text-align: center;
}

.logout-btn:hover {
    background-color: black;
    color: white;
}